@page "/Inicio"
@inject IHttpService http
@using Gimnasio.BD.Data.Entidades

<h3>Alumnos</h3>

<a class="btn btn-primary" href="Inicio/Crear">Crear nuevo alumno</a>

<table>
    <tr>
        <th>Nombre Completo</th>
       <td>
       </td>
         <th>DNI</th>
        <td>
        </td>
    </tr>
    @if (alumnos == null)

    {
        <tr>Cargando...</tr>
    }
    else if(alumnos.Count == 0)
    {
        <tr>No fueron encontrado los datos.</tr>
    }
    else
    {
        @foreach (var item in alumnos)
        {
            <tr>
                <th>@item.NombreCompleto</th>
                <td> </td>
                <th>@item.DNI </th>
     <td>
                    <a class="btn btn-outline-dark"
         href="Inicio/Editar/@item.Id">
         Editar
     </a>
    </td>

     <td>
                    <button class="btn btn-outline-danger" @onclick="()=>Eliminar(item)">
             Eliminar
         </button>
         
     </td>
     </tr>
        }
    }
</table>

<Validacion @ref="validacion"
    
    verCancelar="true"
    verOk="true"
textCancelar="Cancelar"
textOk="Confirmar"
Titulo="Eliminar Alumno"
onCancel="Cancelar"
onConfirm="Borrar">
<div>
    <h4> Esta por eliminar al alumno @AlumnoEliminar.NombreCompleto </h4>
    <br />
    <h5>¿Usted está seguro que desea continuar?</h5>

    <br/>
     <h5> Esta operación es irreversible.</h5>  
    </div>
            
   </Validacion>

@code {
    List<Alumno> alumnos;
    Validacion validacion;
    Alumno AlumnoEliminar=new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var respuesta = await http.Get<List<Alumno>>("api/Alumno");
        if(!respuesta.Error)
        {
            alumnos = respuesta.Respuesta;
        }
    }
    private void Eliminar (Alumno alumnoEliminar)
    {
        AlumnoEliminar = alumnoEliminar;
        validacion.Ver();
    }

    private void Cancelar ()
    {
        validacion.Ocultar();
    }
    private async Task Borrar()
    {
        var respuesta = await http.Delete($"api/Alumno/{AlumnoEliminar.Id}");
        if(respuesta.Error)
        {
            var body = "Error";
        }
        Cancelar();
        await Leer();
    }
}


