@page "/Inicio"
@inject IHttpService http
@using Gimnasio.BD.Data.Entidades

<h3>Alumnos</h3>

<a class="btn btn-primary" href="Inicio/Crear">Crear nuevo alumno</a>

<table>
    <tr>
        <th>Nombre Completo</th>
       <td>
       </td>
         <th>DNI</th>
        <td>
        </td>
    </tr>
    @if (alumnos == null)

    {
        <tr>Cargando...</tr>
    }
    else if(alumnos.Count == 0)
    {
        <tr>No fueron encontrado los datos.</tr>
    }
    else
    {
        @foreach (var item in alumnos)
        {
            <tr>
                <th>@item.NombreCompleto</th>
                <td> </td>
                <th>@item.DNI </th>
     <td>
         <a class="btn btn-primary"
         href="Inicio/Editar/@item.Id">
         Editar
     </a>
    </td>

     <td>
         <button class="btn-warning" @onclick="()=>Eliminar(item)">
             Eliminar
         </button>
         
     </td>
     </tr>
        }
    }
</table>

<Validacion></Validacion>

@code {
    List<Alumno> alumnos;

    Alumno AlumnoEliminar;
    protected override async Task OnInitializedAsync()
    {
       await base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var respuesta = await http.Get<List<Alumno>>("api/Alumno");
        if(!respuesta.Error)
        {
            alumnos = respuesta.Respuesta;
        }
    }
    private void Eliminar (Alumno AlumnoEliminar)
    {

    }

}
